[submodule "HAassets/wheels-custom-integrations"]
	path = HAassets/wheels-custom-integrations
	url = https://github.com/barneyman/wheels-custom-integrations.git
[submodule "HAassets/brands"]
	path = HAassets/brands
	url = https://github.com/barneyman/brands.git
[submodule "sunload"]
	path = sunload
	url = https://github.com/barneyman/sunload.git
